.movieContainer {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 40px;
}

.movieText {
    padding-left: 30px;
    width: 45%;
    font-size: 15px;
    padding-top: 20px;
}

.imageContainer {
    width: 18%;
}

.movieInfo {
    font-size: 15px;
    padding-left: 50px;
    padding-top: 35px;
}

.actorContainer {
    display: flex;
}

.videoContainer {
    width: 80%;
    padding-top: 30px;
    margin: auto;
    padding-bottom: 70px;
}
.videoContainer h4 {
    padding-bottom: 30px;
}
iframe {
    width: 100%;
    height: 700px;
}

@media only screen and (max-width : 500px) { 
    .movieContainer {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .imageContainer {
        width: 70%;
        margin: auto;
    }
    .movieText {
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .movieInfo {
        padding-left: 0px;
        padding-top: 10px;
    }
    iframe {
        height: 300px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 21px;
    }
    .videoContainer {
        padding-bottom: 30px;
        padding-top: 5px;
        text-align: center;
    }
    .name {
        margin: auto;
    }
    .actorContainer {
        height: 35px;
    }
    .videoContainer h4 {
        padding-bottom: 10px;
    }
}