.formProfile {
    width: 50%;
}

.formProfile input[type=text]:not(.browser-default) {
    width: 40%;
    font-size: 20px;
}

.formProfile input[type=text]:focus{
    background-color: #fff;
  }

label {
    font-size: 20px;
    margin-right: 10px;
}
.form {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.watchlistContainer {
    width: 80%;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.watchList {
    text-align: center;
}

.small {
    cursor: pointer;
    color: red;
}
.icon p {
    margin-top: 0px;
    font-size: 18px;
}
.icon {
    display: flex;
    justify-content: center;
    width: 18%;
}
