input[type=text]:not(.browser-default) {
    width: 80%;
    margin: auto;
    font-size: 25px;
}

form {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 50%;
    margin: auto;
}

.homeContainer {
    padding-bottom: 70px;
}

.btn {
    background-color: #009688;
}

.btn:hover {
    background-color: #00897b;

}

.homeContainer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.sticky {
    min-height: calc(90vh - 30px);
}

input[type=text]:focus{
    background-color: #fff;
  }

.card-image img {
      width: 100%;
  }

.col {
      width: 18%;
      margin: 10px;
}

.card-content p {
    font-size: 16px;
    text-align: center;
    color: #333
}
.card-content {
    padding: 10px;
}

.genres {
    width: 40%;
    margin: auto;
    text-align: center;
}
@media only screen and (max-width : 500px) { 
    .homeSearch {
        width: 75%;
        justify-content: center;
        display: flex;
    }
    input[type=text]:not(.browser-default) {
        width: 62%;
        font-size: 16px;
        margin: auto;
    }
    form {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .btn {
        height: 42px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .homeContainer {
        justify-content: center;
    }
    .homeSearch {
        width: 67%;
        justify-content: center;
    }
    .btn {
        height: 32px;
    }
    }