.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(banner2.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.latest {
    display: flex;
}
.rated {
    display: flex;
}
.featured {
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px
}
.featured h4 {
    font-size: 35px;
    margin-left: 10px;
}

.bannertext {
    width: 80%;
    margin: auto;
    color: #fff;
    font-size: 15px;
    padding-top: 400px;
}
.text {
    width: 50%;
}

.loading {
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    background-color: black;
    border-radius: 100%;
    height: 6em;
    width: 6em;
}
.containerLoader {
    align-items: center;
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
  
@keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
      transform: scale(1.0);
    }
  }  

  @media only screen and (max-width : 500px) {
        .bannertext {
            padding-top: 200px;
        }
        .text p {
            font-size: 13px;
        }
        .text h5 {
            font-size: 17px;
        }
        .text {
            width: 100%;
        }
        .banner {
            height: 400px;
        }
        .latest {
            display: block;
        }
        .rated {
            display: block;
        }
        .col {
            width: 93%;
        }
        .featured h4 {
            font-size: 25px;
        }
        .featured {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .bannertext {
            padding-top: 300px;
        }
        }