 header {
    background-color: #f3f3f3;
}

.navWrapper a {
    color: #333
}

.navWrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


ul#navMenu {
    display: flex;
}

ul {
    display: flex;
    color: #333
}

.navMenu li {
    margin: 15px;
}

.logo {
    margin-top:25px;
    font-size: 19px;
    color: #333;
}

@media only screen and (max-width : 500px) {
    .logo {
        font-size: 15px;
        margin-top: 17px;
    }
    li {
        font-size: 13px;
        margin: 5px;
    }
    .navWrapper {
        width: 90%;
    }
}
