.page-footer {
  height: 100%;
  background-color: #f3f3f3;
  color: #333!important;
}

.white-text {
  color: #333!important;
}

.grey-text {
  color: #333!important;
}

.footer-copyright {
  color: #333!important;
}
.container {
  width: 79%;
  padding-bottom: 12px;
  padding-top: 8px;
  max-width: 79%;
}